<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      a{
        display:block;
        margin-bottom:5px;
      }
      a:hover{
        box-shadow:3px 3px 3px grey;
      }
    </style>
</head>

<a href="/start">Setup this app with students, PCs...</a>

    <h2>Student comments</h2>
    <a href="/all">Show both comment components</a>
    <a href="/student">Show only the student message entry components</a>
    <a href="/trainer">Show only the the messages components</a>
    <a href="/admin">Manage messages (delete student name, clear, close class)</a>
    <a href="/clear">Clear all messages</a>
    <h2>End of course comments</h2>
    <a href="/comments">Show the tutor report comment entry form</a>
    <a href="/commentsRead">Read all the tutor report comments</a>
    <a href="/commentsDelete">Delete all the tutor report comments</a>
    <a href="/commentsReadnames">Read the names of all students who have madea comment</a>
    <h2>APIs</h2>
    <a href="/customers">Get customers</a>
    <a href="/customers/:id">Get the customer details by customer ID like:<br />  <a class="aException" href="/customers/alfki">/customers/alfki (alfki is a customer id)</a>
    <a href="/orders">get all orders</a>
    <a href="/orders/:id">Get the orders by customer ID like:<br />  <a class="aException" href="/orders/alfki">/orders/alfki</a>

<body>
</body>
</html>


