<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      a{
        display:block;
        padding:3px;
        width: max-content;
        text-decoration:none;
      }
      .inline_a{
        display:inline;
      }
      a:hover{
/*         border:2px solid blue; */
        font-weight: bold;      
      }
      h3{
        margin-bottom:2px;
        display:inline-block;
      }
      body *{
        margin-left:15px;
      }
      
      details>summary {
        list-style-type: none;
        outline: none;
        cursor: pointer;
      }

      details>summary::-webkit-details-marker {
        display: none;
      }

      details>summary::before {
        content: '➕ ';
      }

      details[open]>summary::before {
        content: '➖ ';
      }

      details[open]>summary {
/*         margin-bottom: 0.5rem; */
      }
    </style>
</head>
<body>
  <details>
        <summary>
            <h3>How to install this app?</h3>
        </summary>
        <ol>
            <li>Create an account<a class="inline_a" href="https://glitch.com"><b>https://glitch.com/</b></a></li>
            <li>Click <b>New Project</b> and then <b>glitch-hello-node</b></li>
            <li>Click the <b>Tools</b> button and then <b>Import/Export</b></li>
            <li>Select <b>Import from GitHub</b></li>
            <li>Type <b>mikebaradaran/tx100</b></li>
            <li>Select <b>Setting</b></li>
            <li>Select <b>Edit project details</b></li>
            <li>Type a unique name for your project like:<b><i>txBobby</i></b></li>
            <li>Select the file <b>common.js</b> from your project files</li>
            <li>Edit the line:  <b>appName: `https://tx100.glitch.me`</b> and change <b>tx100</b> to your project name</li>
        </ol>
    </details>
    <h3><a href="/start">Setup this app with students, PCs...</a></h3>

    <details>
      <summary>
            <h3>Chat</h3>
      </summary>
      <a href="/all">Show both comment components</a>
      <a href="/student">Show only the student message entry components</a>
      <a href="/trainer">Show only the the messages components</a>
      <a href="/admin">Manage messages (delete student name, clear, close class)</a>
      <a href="/clear">Clear all messages</a>
    </details>
    <details>
      <summary>
            <h3>End of course comments</h3>
      </summary>
      <a href="/comments">Show the tutor report comment entry form</a>
      <a href="/commentsRead">Read all the tutor report comments</a>
      <a href="/commentsDelete">Delete all the tutor report comments</a>
      <a href="/commentsReadnames">Read the names of all students who have made a comment</a>
    </details>

    <details>
      <summary>
            <h3>APIs</h3>
      </summary>
      <a href="/customers">Get customers</a>
      <a href="/customers/:id">Get a customer's details by customer ID</a>
      <a href="/orders">get all orders</a>
      <a class="aException" href="/orders/alfki">Get orders by customer ID</a>
    </details>

    <h3>Misc</h3>
    <a href="/login">Login for (not used!)</a>    
</body>
</html>


