.greetings {
  background-color: darkblue;
  height: 8em;
  padding-top: 3em;
}

.greetings span, .greetings div{
  display: inline-block;
  color: white;
  font-size: 25px;
  margin-left: 1.5em;
}

body {
  background: linear-gradient(120deg, white, black, cyan);
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.greetings div {
  font-size: 35px;
  font-weight: bold;
  text-shadow: 3px 3px 3px black;
}